html {
    scroll-behavior: smooth;
}


* {
    outline: 1px solid red;
}


body.home {
    background-image: url("../assets/start-screen-gradient-background.png");
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */

header {
    max-height: 90px;
}

.wrapper {
    max-width: 1280px;
    padding: 30px 40px 0 40px;
    margin: 0 auto;
}

.header__container {
    max-width: 1200px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}

.logo {
    width: 186px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.logo h1 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #F1CDB3;
    margin-bottom: 10px;
}

header p {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 10%;
    vertical-align: middle;
    color: #FFFFFF;
}

.logo p {
    margin-left: 4px;
}

.header__nav {
    width: 443px;
    height: 27px;
}

.navigation {
    display: flex;
    gap: 35px;
}

.nav__link {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #CDCDCD;
    padding-bottom: 4px;
}

.nav__link:hover {
    color:#FAFAFA;
}

.active {
    pointer-events: none;
    border-bottom: 3px solid #F1CDB3;
    color:#FAFAFA;
}

/* Start Screen styles */

.start__screen {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 90px 40px 0 40px;
}

.start__screen-section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    min-height: 728px;
    padding-top: 163px;
}

.start__screen-content {
    max-width: 460px;
    width: 100%;
}

.start__screen-img {
    max-width: 698px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.puppy__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.start__screen {
    background-image: url("../assets/start-screen-puppy.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 542px;
}

.start__screen-heading {
    max-width: 310px;
    width: 100%;
    height: 114px;
    margin: 0 150px 42px 0;
}

.start__screen-heading h2 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.start__screen-subtitle {
    max-width: 460px;
    width: 100%;
    height: 72px;
    margin-bottom: 42px;
}

.start__screen-subtitle p {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #CDCDCD;
}

.btn__primary {
    color: #292929;
    background-color: #F1CDB3;
    top: 270px;
    opacity: 1;
    gap: 10px;
    border-radius: 100px;
    padding-top: 15px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-left: 45px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
    cursor: pointer;
    border: none;
}

.btn__primary:hover {
    background-color: #FDDCC4;
    transition: all 0.2s ease;
}

/* About Section styles */

.section__about {
    max-width: 1280px;
    width: 100%;
    padding: 80px 40px 100px 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.about__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 175px;
}

.about__img {
    max-width: 300px;
    flex-shrink: 0;
}

.about__img img {
    width: 100%;
    Height: 100%;
}

.about__text {
    max-width: 430px;
    width: 100%;
}

.about__heading {
    max-width: 370px;
    width: 100%;
    margin: 0 60px 25px 0;
    
}

.about__heading h2 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #545454;
}

.about__subheading-1 {
    max-width: 430px;
    width: 100%;
    margin-bottom: 25px;
}

.about__subheading-2 {
    max-width: 430px;
    width: 100%;
}

.about__text p {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #4C4C4C;
}

/* Pets Section styles */

.section__pets {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;
}

.pets__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pets__heading {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.pets__heading h2 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #545454;
}

.pets__slider {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.arrow {
    width: 52px;
    height: 52px;
    box-shadow: inset 0 0 0 2px #F1CDB3;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow:hover {
    background-color: #FDDCC4;
    box-shadow: none;
    transition: all 0.2s ease;
}

.slider__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    margin: 0 53px;
}

.pets__card {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.card__text {
    width: 100%;
    margin: 30px 98px;
}

.card__text p {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #545454;
}

.card__btn {
    gap: 10px;
    border-radius: 100px;
    padding-top: 15px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-left: 45px;
    border: none;
    box-shadow: inset 0 0 0 2px #F1CDB3;
    cursor: pointer;
    margin-bottom: 30px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
    background-color: #FAFAFA;
}

.pets__card:hover .card__btn {
    background-color: #FDDCC4;
    box-shadow: none;
    transition: all 0.2s ease;
}

.pets__card:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.pets__btn {
    gap: 10px;
    border-radius: 100px;
    padding-top: 15px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-left: 45px;
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 6%;
    cursor: pointer;
    color: #292929;
    margin: 60px 0 0 0;
}

.pets__btn:hover {
    background-color: #FDDCC4;
    transition: all 0.2s ease;
}

/* Help Section styles */

.section__help {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 40px;
}

.help__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 100px 0;
}

.help__heading {
    max-width: 310px;
    margin-bottom: 60px;
}

.help__list {
    display: flex;
    gap: 55px 120px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1029px;
    max-height: 281px;
}

.help__icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.help__heading h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #545454;
}

.help__text {
    margin-top: 30px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #545454;
}

/* Donation Section styles */

.section__donation {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 80px 0 100px 0;
    background-color: #F6F6F6;
    max-width: 1280px;
    margin: 0 auto;
}

.donation__content {
    max-width: 915px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 915px;
    margin: 0 auto;
    gap: 30px;
}

.donation__img {
    width: 505px;
    height: 261px;
}

.donation__text {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donation__text h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #545454;
}

.donation__text h4 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 110.00000000000001%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #545454;
}

.donation__text h5{
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #545454;
}

.donation__text p {
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #B2B2B2;
}

.donation__text a {
    text-decoration: none;
}

.credit__card {
    max-width: 349px;
    height: 43px;
    border-radius: 9px;
    background-color: #F1CDB3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit__card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

/* Footer styles */

footer {
    background-image: url("../assets/footer-gradient-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 40px;
}

footer a {
    text-decoration: none;
}

.footer__content {
    max-width: 1200px;
    height: 310px;
    display: flex;
    justify-content: center;
    gap: 160px;
    margin: 0 auto;
}

.footer__content h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
    color: #FFFFFF;
}

.footer__content h4 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 6%;
    color: #F1CDB3;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 16px;
}

.footer__locations {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    max-width: 302px;
}

.contacts__title {
    width: 279px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.locations__title {
    width: 270px;
    margin-bottom: 34px;
}

.locations__boston {
    margin-bottom: 32px;
}

.footer__img {
    width: 300px;
    height: 310px;
}